<div class="center jumbotron">
  <h1>Welcome to your dream life, Bebeshechka!</h1>
  <%= link_to "Sign up here to be my Girlfriend!", "https://www.youtube.com/watch?v=AE_bMZSGDW0", class: "btn btn-lg btn-primary" %>
</div>

  <%= image_tag("lol2.jpg") %>
