<div class="center jumbotron">
  <h1> Yo, Sardor! Happy Birthday, Brother!! Snoop Doggy Dog!!!</h1>
  <%= link_to "click here to get your Present!", "https://www.youtube.com/watch?v=QGYjTDjfkbw", class: "btn btn-lg btn-primary" %>
</div>

  <%= link_to image_tag("snoop.jpg", size: "900x700"), 
    'https://www.youtube.com/watch?v=fNOyqQkzf0Y' %>